.u-section-1 .u-sheet-1 {
    min-height: 685px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 526px;
    margin: 103px auto 37px 248px;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 42px 37px 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 319px;
    width: 432px;
    margin: 65px auto 0;
  }
  
  .u-section-1 .u-form-group-1 {
    width: 100%;
  }
  
  .u-section-1 .u-form-group-2 {
    width: 100%;
  }
  
  .u-section-1 .u-form-group-3 {
    width: 100%;
  }
  
  .u-section-1 .u-form-group-4 {
    width: 100%;
  }
  
  .u-section-1 .u-form-group-5 {
    width: 100%;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-form-1 {
      width: 190px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 214px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-left: 194px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-layout-wrap-1 {
      margin-left: 14px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
    }
  
    .u-section-1 .u-form-1 {
      height: 371px;
      width: 387px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
      margin-left: 0;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-form-1 {
      width: 320px;
    }
  }