 .u-section-1 {
  background-image: url("images/pawel-czerwinski-APVgVX_yDDc-unsplash.jpg");
  background-position: 50% 50%;
  min-height: 1038px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 107px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 35px auto 0 25px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 250px calc(((100% - 1140px) / 2) + 254px) 0 auto;
  padding: 9px 267px 11px 266px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 35px auto 60px;
  padding: 9px 284px 10px 283px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 856px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 155px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 656px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 310px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}